<div class="bg-gray-100">
  <div class="container pb-10">
    <div class="text-center pt-10 pb-3">
      <h2 class="text-3xl font-semibold pb-3">Reset your password</h2>
      <p class="text-sm text-gray-800">Choose a new password to sign back in</p>
    </div>
    <div class="bg-white rounded-lg p-3 max-w-2xl mx-auto shadow-md px-8 pt-6 pb-8 mb-4">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">

          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
        </div>

        <div class="text-center">
          <%= f.button :submit, "Reset your password", class: "btn btn-primary btn-large mb-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
