<section class="flex h-screen">
  <div class="w-full lg:w-1/2">
    <div class="max-w-md mx-auto px-4">
      <div class="mb-8 mt-4">
        <h2 class="font-semibold">Sign up</h2>
        <p class="text-mute">Create your account</p>
      </div>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      label: false,
                      placeholder: "Email Address",
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      label: false,
                      placeholder: "Choose a password",
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      label: false,
                      placeholder: "Confirm password",
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="lg:w-1/2 hidden lg:block bg-red-300">
    <%= image_tag 'default/signup.png', class: "w-full h-full object-cover" %>
  </div>
</section>
