<% if user_masquerade? %>
  <div class="alert alert-danger text-center rounded-none">
    <div class="flex justify-between">
      <p>You're logged in as <b><%= current_user.name %> (<%= current_user.email %>)</b></p>
      <%= link_to back_masquerade_path(current_user) do %>
        <p class="">Stop impersonating <%= render_icon("x", class: "inline-block") %></p>
      <% end %>
    </div>
  </div>
<% end %>

<nav class="flex justify-center bg-white px-4 py-2">
  <div class="container flex items-center justify-between flex-wrap">
    <%= link_to Rails.configuration.application_name, root_path, class: "text-2xl font-bold" %>

    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <div class="mr-2"><%= link_to "What's New", announcements_path, class: "#{unread_announcements(current_user)}" %></div>
        <% if user_signed_in? %>

        <div class="mr-2">
          <%= link_to notifications_path, class: "" do %>
            <span><%= render_icon("bookmark") %></span>
          <% end %>
         </div>

         <div class="inline-block text-sm px-4 py-2 leading-none rounded no-underline text-gray hover:text-gray-900 hover:bg-white mt-4 lg:mt-0">
            <div class="relative" data-controller="dropdown">
              <div data-action="click->dropdown#toggle click@window->dropdown#hide" role="button" class="inline-block select-none">
                <span class="appearance-none flex items-center inline-block text-gray-700">
                  <% if current_user.avatar.attached? %>
                    <img src="<%= url_for(current_user.avatar) %>" style="height: 20px; width: 20px;" class="rounded object-cover">
                  <% elsif current_user %>
                    <%= image_tag gravatar_image_url(current_user.email, size: 40), height: 20, width: 20, class: "rounded" %>
                  <% end %>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="h-4 w-4"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
                </span>
              </div>
              <div data-target="dropdown.menu" class="absolute right-0 mt-2 hidden">
                <div class="bg-white shadow rounded border overflow-hidden">
                    <% if current_user.admin? %>
                      <%= link_to "Admin Area", admin_root_path, class: "no-underline block px-8 py-3 text-gray-900 bg-white hover:bg-gray-300 whitespace-no-wrap" %>
                    <% end %>
                    <%= link_to "Settings", edit_user_registration_path, class: "no-underline block px-8 py-3 text-gray-900 bg-white hover:bg-gray-300 whitespace-no-wrap" %>
                    <div class="dropdown-divider"></div>
                    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "no-underline block px-8 py-3 text-gray-900 bg-white hover:bg-gray-300 whitespace-no-wrap" %>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <div class="mr-2"><%= link_to "Sign Up", new_user_registration_path, class: "" %></div>
          <div class="mr-2"><%= link_to "Login", new_user_session_path, class: "" %></div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
