<% if user_masquerade? %>
  <div class="alert alert-danger text-center rounded-none">
    <div class="flex justify-between">
      <p>You're logged in as <b><%= current_user.name %> (<%= current_user.email %>)</b></p>
      <%= link_to back_masquerade_path(current_user) do %>
        <p class="">Stop impersonating <%= render_icon("x", class: "inline-block") %></p>
      <% end %>
    </div>
  </div>
<% end %>

<nav class="container sm:flex sm:justify-between sm:items-center" data-controller="toggle">
  <div class="flex items-center justify-between py-3">
    <div>
      <%= link_to Rails.configuration.application_name, root_path, class: "text-2xl font-bold" %>
    </div>
    <div class="sm:hidden">
      <button data-action="toggle#toggle" type="button" class="focus:outline-none">
        <%= render_icon("menu", classes: "block text-gray-800 hover:text-gray-900 focus:text-gray-900", target: "toggle.toggleable") %>
        <%= render_icon("x", classes: "block text-gray-800 hover:text-gray-900 focus:text-gray-900 hidden", target: "toggle.toggleable") %>
      </button>
    </div>
  </div>
  <%# links %>
  <div class="hidden sm:flex items-center my-2" data-target="toggle.toggleable">
    <% if user_signed_in? %>
      <%# links from desktop dropdown %>
      <div class="block sm:hidden">
          <% if current_user.admin? %>
            <%= link_to "Admin Area", admin_root_path, class: "no-underline block hover:bg-gray-300 rounded-sm px-2 py-1" %>
          <% end %>
          <%= link_to "Settings", edit_user_path(current_user), class: "no-underline block hover:bg-gray-300 rounded-sm px-2 py-1" %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "no-underline block hover:bg-gray-300 rounded-sm px-2 py-1" %>
      </div>
      <hr class="block sm:hidden my-2">
      <%= link_to "What's New", announcements_path, class: "#{unread_announcements(current_user)} block sm:ml-3 no-underline block hover:bg-gray-300 rounded-sm px-2 py-1" %>
      <%= link_to "Notifications", notifications_path, class: "block sm:ml-3 no-underline block hover:bg-gray-300 rounded-sm px-2 py-1" %>
      <%# desktop dropdown %>
      <div class="hidden sm:inline-block text-sm px-4 py-2 leading-none rounded no-underline text-gray hover:text-gray-900 hover:bg-white mt-4 lg:mt-0">
        <div class="relative" data-controller="dropdown">
          <div data-action="click->dropdown#toggle click@window->dropdown#hide" role="button" class="inline-block select-none">
            <span class="appearance-none flex items-center inline-block text-gray-700">
              <% if current_user.avatar.attached? %>
                <%= image_tag current_user.avatar, style: "height: 20px; width: 20px;", class: "rounded object-cover" %>
              <% elsif current_user %>
                <%= image_tag gravatar_image_url(current_user.email, size: 40), height: 20, width: 20, class: "rounded" %>
              <% end %>
              <%= render_icon("chevron-down", classes: "h-4 w-4 text-black") %>  
            </span>
          </div>
          <div data-target="dropdown.menu" class="absolute right-0 mt-2 hidden">
            <div class="bg-white shadow rounded border overflow-hidden">
                <% if current_user.admin? %>
                  <%= link_to "Admin Area", admin_root_path, class: "no-underline block px-8 py-3 text-gray-900 bg-white hover:bg-gray-300 whitespace-no-wrap" %>
                <% end %>
                <%= link_to "Settings", edit_user_path(current_user), class: "no-underline block px-8 py-3 text-gray-900 bg-white hover:bg-gray-300 whitespace-no-wrap" %>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "no-underline block px-8 py-3 text-gray-900 bg-white hover:bg-gray-300 whitespace-no-wrap" %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path, class: "no-underline block hover:bg-gray-300 rounded-sm px-2 py-1 sm:ml-3" %>
      <%= link_to "Login", new_user_session_path, class: "no-underline block hover:bg-gray-300 rounded-sm px-2 py-1 sm:ml-3" %>
    <% end %>
  </div>
</nav>
